/* KreiranjeAnkete.css */

.kreiranje-ankete-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .kreiranje-ankete-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  .kreiranje-ankete-container h3 {
    color: #333;
    font-size: 20px;
    margin-top: 40px; /* Povećaj ovu vrijednost za veći razmak između pitanja */
  }
  
  
  .kreiranje-ankete-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .kreiranje-ankete-container label {
    color: #333;
    display: block;
    margin: 10px 0;
  }
  
  .kreiranje-ankete-container button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .kreiranje-ankete-container button:hover {
    background-color: #0056b3;
  }
  
  .kreiranje-ankete-container p {
    font-size: 18px;
    margin: 20px 0;
  }
  
  .kreiranje-ankete-container button.danger {
    background-color: #ff4136;
  }
  